@use "../utils/variables" as vars;
@use "../utils/mixins" as *;

.tag{
    @include flex-flexDir(row);
    justify-content: center;
    min-width: 95px;
    background-color: vars.$main-color;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    p{
        color: white;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
    }
}

@media (max-width: 940px) {
    .tag{
        min-width: 84px;
        border-radius: 5px;
        padding: 2px 4px;
        p{
            font-size: 10px;
        }
    }
}