#home{
    display: flex;
    flex-direction: column;
    gap: 43px;
    #home__title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 223px;
        overflow: hidden;
        border-radius: 25px;
        width: 100%;
        p{
            position: absolute;
            color: white;
            font-weight: 700;
            font-size: 48px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        img{
            width: 100%;
            filter: brightness(0.6);
        }
    }

    #home__gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
        column-gap: 60px;
        padding: 50px 0;
        border-radius: 25px;
        background-color: #F6F6F6;
        .gallery__element{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 340px;
            height: 340px;
            overflow: hidden;
            border-radius: 10px;
            h2{
                position: absolute;
                color: white;
                font-weight: 700;
                font-size: 18px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin: 20px;
                bottom: 0;
                left: 0;
            }
        }
    }
}