#home{
    display: flex;
    flex-direction: column;
    gap: 43px;
    #home__gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 50px;
        column-gap: 60px;
        padding: 50px 0;
        border-radius: 25px;
        background-color: #F6F6F6;
    }
}

@media (max-width: 940px){
    #home{
        gap: 22px;
        #home__gallery{
            padding: 0;
            row-gap: 20px;
            background-color: white;
        }
    }
}