#logement{
    width: 100%;
    #accordions{
        display: flex;
        flex-direction: row;
        gap: 76px;
        margin-top: 24px;
    }
    #primary-infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #title{
            h1{
                font-size: 36px;
                color: #FF6060;
                font-weight: 500;
                margin: 5px 0;
            }
            h2{
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
        }
        #host{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            div{
                p{
                    color: #FF6060;
                    font-size: 18px;
                    font-weight: 500;
                    word-spacing: 600vh;
                    text-wrap: break-word;
                    text-align: right;
                    margin: 0;
                }
            }
            img{
                width: 64px;
                height: 64px;
                border-radius: 64px;
                object-fit: cover;
            }
        }
    }
    #secondary-infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        #tags{
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin: 20px 0 24px 0;
        }
    }
}